{% extends 'base.html' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>번호</th><th>제목</th><th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
                {% for question in question_list  %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <!--링크 경로는 앱 네임을 사용함-->
                        <a href="{% url 'board:detail' question.id %}">
                            {{ question.subject }}
                        </a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <p>질문이 없습니다.</p>
            {% endif %}
        </tbody>
    </table>
    <a class="btn btn-primary"
       href="{% url 'board:question_create' %}">질문 등록</a>
</div>
{% endblock %}
